.back-to-top{
  position: fixed;
  bottom: 150px;
  right: 80px;
  display: none;
  color: $primary;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  z-index: 99999;
  i {
     font-size: 50px;
  }
  &:hover {
      opacity: 1;
      -webkit-animation: jump 1.5s ease 0s 1 normal ;
      animation: jump 1.5s ease 0s 1 normal ;
      // background-color: $primary;
  }
}
#rev_slider_1_1 {
  .slide-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h1 {
      display: flex;
      flex-direction: column;
      font-family: $font-header;
      color: $white;
      font-size: 90px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 95px;
      overflow-wrap: break-word;
      text-align: right !important;
      text-transform: capitalize;
      span {
        font-family: $font-main;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
    }
    .slide-links {
      display: flex;
      justify-content: space-between;
      a {
        &:first-child {
          margin-right: 20px !important;
        }
      }
    }
  }
}
.title-break {
  margin-top: 26px;
  margin-bottom: 56px;
  margin-left: 0;
  width: 50px;
  height: 5px;
  background-color: transparent;
  background-image: none;
  border-top-width: 5px;
  border-top-color: $primary;
  border-top-style: solid;
  &.center {
    margin-left: auto !important;
  }
}
.custom-block {
  &.block-why {
    .text-container {
      h4 {
        text-transform: capitalize;
      }
    }
  }
  &.block-faq {
    .text-container {
      h4 {
        color: $header;
        font-size: 30px;
        margin-bottom: 36px;
      }
      h2 {
        font-size: 60px;
        padding: 0px;
        text-transform: none;
      }
    }
  }
  &.block-contact {
    .title {
      color: $white !important;
    }
    .title-break {
      border-top-color: $white !important;
      margin-left: auto !important;
      border-top-width: 3px !important;
    }
    .button {
      border-color: $white;
      border: 2px;
      border-style: solid;
      font-weight: 600;
      letter-spacing: .72px;
      border-radius: 0;
      &:hover {
        color: $primary !important;
        background: $white;
      }
    }
  }
  &.block-contactpg {
    .text-container {
      color: $text-dark;
    }
    .gform_title {
        display: none;
    }
    .gform_body {
      input[type='text'] {
        width: 100%;
      }
    }
    .button {
      display: none;
    }
    .center.content {
      padding-top: 0px !important;
    }
    .gform_button {
      background: $primary;
      &:hover {
        background: $secondary;
      }
    }
  }
}
.about-context {
  padding: 100px 0px;
  background: $bg-light-grey;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
      color: $header;
      text-transform: capitalize;
      font-size: 60px;
    }
    .img-left {
      display: flex;
      margin-bottom: 30px;
      .context {
        padding: 0px 60px;
      }
    }
  }
}