.trade-advisor {
    // height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin-bottom: 30px;
    }
    .status {
        margin: 20px 0px;
        display: flex;
        font-size: 32px;

        label {
            padding: 0px 10px;
            &.trend {

                &.up {
                    color: $green;
                }
                &.down {
                    color: $primary;
                }
                i {
                    padding-right: 10px;
                }
                
            }
        }
    }
    .dashboard {
        display: flex;
        &>div {
            margin-left: 50px;
            width: 300px;
            display: flex;
            &.options {
                flex-direction: column;
                .button {
                    font-size: 16px;
                    label {
                        margin: 0px;
                    }
                }
            }
            &.actions {
                flex-wrap: wrap;
            }
            &.watchlist {
                flex-direction: column;
                .button {
                    font-size: 20px;
                    label {
                        margin: 0px;
                    }
                }
            }
        }
    }
    .stats {
        display: flex;

    }
    .logs {
        display: flex;
        flex-direction: column;
        .log {
            height: 100px;
            width: 100%;
            background-color: $secondary;
            border: 0px;
            overflow-y: scroll;
        }
        .logs-btn {
            display: flex;
            justify-content: space-between;
            span {
                flex: 1;
            }
        }
    }
}