.trade-advisor {
    // height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    .title {
        margin-bottom: 5px;
    }
    .status {
        width: 100%;
        margin: 20px 0px;
        display: flex;
        font-size: 32px;
        justify-content: center;

        label {
            padding: 0px 10px;
            &.trend {

                &.up {
                    color: $green;
                    &:before {
                        content: "\f161";
                    }
                }
                &.down {
                    color: $primary;
                    &:before {
                        content: "\f160";
                    }
                }
                &:before {
                    @include icons();
                    padding-right: 10px;
                }
                
            }
            &.open-positions {
                // display: none;
            }
            &.clear-positons {
                display: none;
                border: 2px solid $white;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    border-color: $primary;
                }
            }
        }
    }
    .dashboard {
        display: flex;
        width: 100%;
        justify-content: center;

        &>div {
            margin-left: 10px;
            // width: 300px;
            display: flex;

            &:first-child {
                margin-left: 0px;
            }

            &.options {
                flex-direction: column;
                .button {
                    font-size: 16px;
                    label,h3 {
                        margin: 0px;
                    }
                    h3 {
                        padding-right: 10px;
                    }
                }
            }
            &.actions {
                // flex: 1;
                // flex-wrap: wrap;
                // align-items: flex-start;
                flex-direction: column;
            }
            &.watchlist {
                flex-direction: column;
                .button {
                    font-size: 20px;
                    justify-content: flex-start;
                    label {
                        margin: 0px;
                    }
                }
            }
            &.positions {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                .position {
                    display: flex;
                    align-items: center;
                    border: 1px solid;
                    font-size: 18px;
                    border-radius: 5px;
                    justify-content: space-around;
                    background-color: $secondary;

                    * {
                        padding: 5px;
                        background: rgba(255, 255, 255, 0);
                        color: $white;
                        border: none;
                        border-right: 1px solid;
                        outline: none;
                    }
                    .id {
                    }
                    .type {
                       
                    }
                    .pips {
                        width: 50px;
                        
                    }
                    .condition {
                        border: none;
                    }
                }
            }
        }
    }
    .stats {
        display: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px;

        .positions-open {
            display: flex;
            flex-direction: column;
            background-color: $secondary;
            color: $white;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            border: 20px solid #070C2A;
            height: 200px;
            width: 200px;
            
            p {
                // color: $primary;
                margin: 0px

            }
            span {
                font-size: 32px;
                font-weight: 700;
            }
        }
        .positions-num {
            display: flex;
            flex-direction: column;

            span {
                &.sells-opened {
                    border: 3px solid $green;
                }
                &.buys-opened {
                    border: 3px solid $primary;
                }
            }
        }
        .positions-percentage {

        }
    }
    .logs {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 20px 0px;
        background-color: $tertiary;
        border-radius: 20px;
        padding-top: 10px;

        .log {
            
            height: 100px;
            width: 100%;
            background-color: $secondary;
            border: 0px;
            overflow-y: scroll;
            color: $white;
            outline: none;
            font-size: 18px;
            padding: 10px 20px;
        }
        .logs-btn {
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            span {
                cursor: pointer;
                flex: 1;
                &:first-child {
                    border-right: 1px solid $white;
                }
            }
        }
    }
}